---
import { format } from 'date-fns';

interface Props {
  eventStartDate: Date;
  eventEndDate?: Date;
  eventTitle: string;
  eventWebsite: string;
}

const { eventStartDate, eventEndDate, eventTitle, eventWebsite } = Astro.props;

const eventDate = `${eventEndDate ? `${format(eventStartDate, 'Pp')} - ${format(eventEndDate, 'Pp')}` : format(eventStartDate, 'Pp')}`;
---

<div
  class="flex items-center justify-between p-4 bg-base-100 border border-base-300 shadow-xl hover:shadow-2xl hover:border-primary/30 transition-all duration-300 ring-1 ring-primary ring-offset-2 ring-offset-base-100"
>
  <div>
    <h2 class="text-lg font-bold">{eventTitle}</h2>
    <p class="text-sm text-gray-500">{eventDate}</p>
  </div>

  <a
    href={eventWebsite}
    target="_blank"
    rel="noopener noreferrer"
    class="btn btn-primary"
  >
    Visit
  </a>
</div>
