---
import Hero from '../components/Hero.astro';
import JobPreview from '../components/jobs/JobPreview.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <slot name="head">
    <title>Home</title>
  </slot>
  <main id="main-content">
    <Hero />
    <JobPreview />
  </main>
</Layout>
