---
import Hero from "../components/Hero.astro";
import JobPreview from "../components/jobs/JobPreview.astro";
import Layout from "../layouts/Layout.astro";
import EventPreview from "../components/events/EventPreview.astro";
---

<Layout>
  <slot name="head">
    <title>Hello dynamic slot base title</title>
  </slot>
  <main>
    <Hero />
    <JobPreview />
    <EventPreview />
  </main>
</Layout>
